################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################


/MaintainMaterial/upfiles
/Web.Config
/StandingBook
/.vs
/NetWorkSpecialProject/upfiles
/DataAnalysis.sln.DotSettings.user
/LineResourceManager/upfiles/20181128
/LineResourceManager/upfiles/20181204
/LineResourceManager/repairAtt/20181220
