################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################


/MaintainMaterial/upfiles
/Web.Config
/.vs
/NetWorkSpecialProject/upfiles
/DataAnalysis.sln.DotSettings.user
/LineResourceManager/upfiles/
/LineResourceManager/upfiles/
/LineResourceManager/repairAtt/
/LineResourceManager/repairAtt/
/Web.1Config
/LineResourceManager/repairAtt/
/LineResourceManager/upfiles/
/LineResourceManager/repairAtt/
/StandingBook/upfiles/
